python-dotenv
pyyaml
aws_cdk.core==1.153.1
aws_cdk.aws_ec2==1.153.1
aws_cdk.aws_ecs==1.153.1
aws_cdk.aws_ecs_patterns==1.153.1
aws_cdk.aws_ecr==1.153.1
aws_cdk.aws_rds==1.153.1
aws_cdk.aws_certificatemanager==1.153.1
aws_cdk.aws_route53==1.153.1
aws_cdk.aws_secretsmanager==1.153.1
aws_cdk.aws_ssm==1.153.1
aws_cdk.aws_codebuild==1.153.1
aws_cdk.aws_codepipeline==1.153.1
aws_cdk.aws_codepipeline_actions==1.153.1
aws_cdk.aws_chatbot==1.153.1
aws_cdk.pipelines==1.153.1
